/* Ocultar el scrollbar en Chrome */

.maincontainer::-webkit-scrollbar-track {
    background: transparent;
    /* Puedes cambiar esto al color que desees */
}

.maincontainer::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: none;
}

.maincontainer::-webkit-scrollbar {
    display: none;
    width: 0.1em;

}

.maincontainer {

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Estilos customizados para el slider con SwiperJS */
span.swiper-pagination-bullet {
  width: 28px;
  height: 5px;
  border-radius: 19px;
  background-color: #d9d9d9;
  opacity: 1;
  transition: all 0.3s ease;
}

span.swiper-pagination-bullet-active {
  width: 46px;
  background-color: var(--secondary-color);
}